{% load staticfiles %}
<HTML>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
    	<style type="text/css">
    	body {
	font-family: 'Lobster', 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
	background-color: none; 
	background-repeat: no-repeat;
    padding-top: none;
}
h4{padding:15px;}
h1 {text-align: center;}
a { color: #00FF00;  }
a, button { transition: all 1.3s ease;}
a:hover,

a:focus {
	text-decoration: none;
	outline: none;
		}
</style>

</head>
<body>
	<h1>Welcome to Student Mandatory Debriefing Survey!</h1>
	<p></p>
	<h4>This quietionnaire was developed by Office of Defense Cooperation (ODC) in Tbilisi, Georgia. The purpose of this questionnaire is to obtain your comments and recommendations concerning the training you recently received in the U.S.</h4>
		{% block content %}	
		{% endblock %}
		<h2></h2>
	<div>
                <img src= "http://upload.wikimedia.org/wikipedia/commons/8/84/EUCOM_Logo.jpg" style="display:block; margin:auto;">
        </div>
	
</body>
	<div style="padding:15px;">
	<a href="{% url "post_send" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" padding:"20px;">Click here to start survey.</a>
	</div>
	<div style="background-color:blue; width:100%; padding:0px; bottom:0px; height:30px; position: absolute; text-align:center;">
	<a href="{% url "privacy" %}" style="text-align:center;">Privacy Act Statement</a>
	</div>
</HTML>
